.App {
  text-align: center;
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center
}

.center p {
	margin: 0;
}

.input {
	display: inline-flex;;
	justify-content: space-around;
	margin: 1vh 8vw;
}

.input p {
	display: flex;
	align-items: flex-start;
}

.buttons {
	display: flex;
	justify-content: space-between;
	padding: 0 25vw;
}

button, input.btn {
	border: 0;
	padding: 0.5em;
	transition: 0.2s;
}

p.btn {
	transition: 0.2s;
}

button:hover, input.btn:hover, p.btn:hover {
	background-color: #3e8e41;
	color: white;
}

button, .btn {
	cursor: pointer;
}